<div class="navbar-gold">
    <nav class="navbar">
        <div class="container-fluid" style="justify-content: center;">
            <a class="navbar-brand" href="#">Contacto</a>
        </div>
    </nav>
</div>
<section class="contacto">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 mt-5">
            <form>
                <input name="name" type="text" class="feedback-input" placeholder="Nombre" />
                <input name="email" type="text" class="feedback-input" placeholder="Email" />
                <textarea name="text" class="feedback-input" placeholder="Comentario"></textarea>
                <input type="submit" value="Enviar" />
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-5 mt-5">
            <div class="imagen-dev">
                <img src="../../../assets/4380747.jpg" height="300" alt="">
            </div>
            <p>La educación es la clave para desbloquear tu potencial en la programación. ¡Aprende, crea y sé el
                arquitecto de tu propio futuro tecnológico! </p>
        </div>
    </div>
</section>