<style>
    /* *{
        outline: 2px red solid;
    } */
</style>
    <section class="row1">
        <div class="row card-deck">
            <div class="col-1"></div>
            <div class="col-6 mt-5">
                <h1>JAVASCRIPT</h1>
                <div class="contenedor-imagen mt-4">
                    <img src="../../../assets/images/js codigo.png" width="300" height="280" alt="">
                </div>
                <div class="contenedor-botones-js">
                    <a href="#" class="mt-3">Video Tutorial</a>
                    <a href="#" class="mt-3">Aprende Html</a>
                </div>
            </div>
            <div class="col">
                <div class="card mt-5 mb-5 text-center" style="width: 23rem;">
                    <img src="../../../assets/images/Unofficial_JavaScript_logo_2.svg.png" height="250" class="card-img-top"
                        alt="">
                    <div class="card-body">
                        <p class="card-text">Es un lenguaje de programación interpretado, dialecto del
                            estándar
                            ECMAScript. Se define como orientado a objetos, ​ basado en prototipos, imperativo,
                            débilmente
                            tipado y dinámico.</p>
                        <div class="contenedor-botones-js">
                            <a href="#" style="width: 35%;">Consultar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row2">
        <div class="row card-deck">
            <div class="col-1"></div>
            <div class="col-6 mt-5">
                <h1>HTML 5</h1>
                <div class="contenedor-imagen mt-4">
                    <img src="../../../assets/images/codigo-html.png" style="border-radius: 2%;" height="280" width="300" alt="">
                </div>
                <div class="contenedor-botones-html">
                    <a href="#" class="mt-3">Video Tutorial</a>
                    <a href="#" class="mt-3">Aprende Html</a>
                </div>
            </div>
            <div class="col">
                <div class="card mt-5 mb-5 text-center" style="width: 23rem;">
                    <img src="../../../assets/images/html-3.jpg" height="250" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">Hace referencia al lenguaje de marcado para la elaboración de páginas web.
                            Es
                            un
                            estándar que sirve de referencia del software que conecta con la elaboración de páginas web.
                        </p>
                        <div class="contenedor-botones-html">
                            <a href="#" style="width: 35%;">Consultar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row3">
        <div class="row card-deck">
            <div class="col-1"></div>
            <div class="col-6 mt-5">
                <h1>CSS 3</h1>
                <div class="contenedor-imagen mt-4">
                    <img src="../../../assets/images/css ej.png" height="280" width="300" alt="">
                </div>
                <div class="contenedor-botones-css">
                    <a href="#" class="mt-3">Video Tutorial</a>
                    <a href="#" class="mt-3">Aprende Html</a>
                </div>
            </div>
            <div class="col">
                <div class="card mt-5 mb-5 text-center" style="width: 23rem;">
                    <img src="../../../assets/images/css3-2.png" height="250" class="card-img-top" width="100%" alt="">
                    <div class="card-body">
                        <p class="card-text">En español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico
                            para
                            definir y crear la presentación de un documento estructurado escrito en un lenguaje de
                            marcado.​
                        </p>
                        <div class="contenedor-botones-css">
                            <a href="#" style="width: 35%;">Consultar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

