
<div class="container-fluid" style="background-color: #e8f2f5;">
  <div class="row justify-content-center bg-dark py-3">
    <div class="col-md-10 col-xl-8 text-center d-flex align-items-center justify-content-center">
      <h3 class="text-light">A nuestros usuarios les encanta!</h3>
    </div>
  </div>

    <div class="row text-center justify-content-around">
      <div class="col-8 col-md-7 col-lg-3 col-xl-3 mb-4 pt-5">
        <!-- Card Section -->
        <div class="card custom-shadow ccbackground1">
          <div class="card-body">
            <!-- Top Section -->
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4">
                <img src="../../assets/images/redanon.png" class="img-fluid rounded-circle custom-circle1" alt="Profile">
              </div>
              <div class="col-12 col-sm-8 col-md-8">
                <h5 class="card-title">Jonh Goodman</h5>
                <p class="card-text text-muted">Just now</p>
              </div>
            </div>

            <hr> <!-- Separator -->

            <!-- Middle Section -->
            <p class="card-text">"Impresionante sitio web para aprender CSS, HTTP y JavaScript"</p>

            <hr> <!-- Separator -->

            <!-- Bottom Section -->
            <div class="d-flex justify-content-center">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-md-7 col-lg-3 col-xl-3 mb-4 pt-5">
        <!-- Card Section -->
        <div class="card custom-shadow ccbackground2">
          <div class="card-body">
            <!-- Top Section -->
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4">
                <img src="../../assets/images/blueanon.png" class="img-fluid rounded-circle custom-circle2" alt="Profile">
              </div>
              <div class="col-12 col-sm-8 col-md-8">
                <h5 class="card-title">Alex Castro</h5>
                <p class="card-text text-muted">1 hour ago</p>
              </div>
            </div>

            <hr> <!-- Separator -->

            <!-- Middle Section -->
            <p class="card-text">"¡Excelente recurso para dominar los lenguajes web!"</p>

            <hr> <!-- Separator -->

            <!-- Bottom Section -->
            <div class="d-flex justify-content-center">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-md-7 col-lg-3 col-xl-3 mb-4 pt-5">
        <!-- Card Section -->
        <div class="card custom-shadow ccbackground3">
          <div class="card-body">
            <!-- Top Section -->
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4">
                <img src="../../assets/images/purpleanon.png" class="img-fluid rounded-circle custom-circle3" alt="Profile">
              </div>
              <div class="col-12 col-sm-8 col-md-8">
                <h5 class="card-title">Marc Ballester</h5>
                <p class="card-text text-muted">1 year ago</p>
              </div>
            </div>

            <hr> <!-- Separator -->

            <!-- Middle Section -->
            <p class="card-text">"Recomiendo esta página para principiantes en desarrollo web"</p>

            <hr> <!-- Separator -->

            <!-- Bottom Section -->
            <div class="d-flex justify-content-center">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
              <img src="../../assets/images/star.png" class="star" width="30" height="30" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
